<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Results</title>
</head>
<body>
    <h1 style="text-align:center">Review Results</h1>
    <table cellspacing="0">
        <tr>
        <th>Name</th>
        <th>Ratings</th>
        <th>Headers</th>
        <th>Comments</th>
        </tr>
        <tr>
            {% for r in reviews %}
        
        <tr>
            <td>{{r['Name']}}</td>
            <td>{{r['ratings']}}</td>
            <td>{{r['headers']}}</td>
            <td>{{r['comments']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
